{php}
{/php}

<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" href="/layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="/layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/static/Sham.css" media="all">
    <style type="text/css">
        /*body{padding: 10px 30px;}*/
        /*.hide{display:none}*/
    </style>
</head>
<body>

<div class="layui-fluid">
    <div class="layui-card">
        <div class="layui-form layui-card-header layuiadmin-card-header-auto">
            <div class="layui-form-item text-sm">
                <form id="LAY-front-search-sham">
                    <div class="layui-form" formar="LAY-front-search">


                        <!--<div class="layui-inline">-->
                        <!--<label class="layui-form-label">关键词</label>-->
                        <!--<div class="layui-input-block">-->
                        <!--<input type="text" name="key" value="" placeholder="请输入" autocomplete="off" class="layui-input layui-input-sm">-->
                        <!--</div>-->
                        <!--</div>-->

                        <div class="layui-inline">
                            <label class="layui-form-label"></label>
                            <input type="checkbox" value="1" class="layui-input-sm" name="showhidden" title="显示无效" lay-skin="primary" {if $Think.get.hidden==1}checked{/if}>
                        </div>
                        <div class="layui-inline">
                            <label class="layui-form-label"></label>
                            <a class="layui-btn layui-btn-sm layuiadmin-btn-admin" lay-submit lay-filter="LAY-front-search" id="LAY-front-search">
                                <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i> 提交
                            </a>
                        </div>

                    </div>
                </form>
            </div>
        </div>


        <div class="layui-card-body">

            <button class="layui-btn layui-btn-sm layui-btn-primary  up-all">全部收起</button>
            <button class="layui-btn layui-btn-sm layui-btn-primary down-all">全部展开</button>


            <table class="layui-table layui-form" id="test-tree-table"  lay-size="sm"></table>

            <script type="text/html" id="buttonTpl">
                {{#  if(d.enable){ }}
                <button class="layui-btn layui-btn-xs">正常</button>
                {{#  } else { }}
                <button class="layui-btn layui-btn-primary layui-btn-xs">关闭</button>
                {{#  } }}
            </script>

            <script type="text/html" id="table-content-list">
                <a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
                <a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
            </script>
        </div>
    </div>
</div>

<script src="/layuiadmin/layui/layui.js"></script>
<script type="text/javascript">

layui.config({
    base: '/layuiadmin/modules/',
})
layui.use(['treetable','tableSelect','form'],function(){

    var $ = layui.$
            ,form = layui.form
            ,admin = layui.admin
            ,table = layui.table;
    var o = layui.$,treetable = layui.treetable;
    var form = layui.form,layer = layui.layer;
    var tableSelect = layui.tableSelect;

    //监听搜索
    form.on('submit(LAY-front-search)', function(data){
        var field = $("#LAY-front-search-sham").serialize();
//            console.log(field);
//            console.log(field);
        filltable(field);
    });




    function filltable(field){
        $.ajax({
            url: '/api/sem.xmtree/mydlist',
            data:field,
            success: function(response)
            {
                treetable.render({
                    elem: '#test-tree-table',
                    data: response,
                    field: 'title',
//            is_checkbox: true,
//            checked:[1,2,3,4],
                    /*icon_val: {
                     open: "&#xe619;",
                     close: "&#xe61a;"
                     },*/
                    space: 8,
                    cols: [
                        {
                            field: 'id',
                            title: 'ID',
                            width: '5px',
                            template: function(item){
                                if(item.level == 0){
                                    return item.id;
                                }
                                return '';
                            }
                        },
                        {
                            field: 'title',
                            title: '标题',
                            width: '',
                            template: function(item){
                                if(item.level == 1){
                                    if(item.enable ==1) {
                                        return '<span style="color:red;">'+item.title
                                        +' <small class="layui-badge pull-right layui-bg-red">'+item.count+'</small> '
                                        +' <small class="layui-badge pull-right layui-bg-blue">'+item.uname+'</small> </span>';
                                    }else{
                                        return '<span style="color:lightgray;">'+item.title
                                        +' <small class="layui-badge pull-right layui-bg-red">'+item.count+'</small> '
                                        +' <small class="layui-badge pull-right layui-bg-blue">'+item.uname+'</small> </span>';
                                    }

                                }
                                if(item.level == 2){
                                    if(item.enable ==1){
                                        return '<span style="color:green;">'+item.title+'</span>';
                                    }else{
                                        return '<span style="color:lightgray;">'+item.title+'</span>';
                                    }

                                }
                                if(item.enable ==1){
                                    return item.title;
                                }else{
                                    return '<span style="color:lightgray;">'+item.title+'</span>';
                                }
                            }
                        },
                        {
                            title: '信息',
                            template: function(item){
                                var tem = [];
                                if(item.level == 1 && item.xx == 1){
                                    tem.push('<span class="layui-badge layui-bg-orange">信息流</span>');
                                }
                                if(item.level == 2 && item.mediatype != undefined){
                                    tem.push('<span class="layui-badge layui-bg-red">'+item.mediatypename+'</span>');
                                }
                                if(item.level == 2 && item.hand ==1){
                                    tem.push('<span class="layui-badge layui-bg-blue">手动</span>');
                                }
                                return tem.join('   ')
                            }
                        },
                        {
                            title: '状态',
                            width: '50px',
                            template: function(item){
                                if(item.enable ==1){
                                    return '<button class="layui-btn layui-btn-xs">正常</button>';
                                }else{
                                    return '<button class="layui-btn layui-btn-primary layui-btn-xs">无效</button>';
                                }

                            }
                        },
                        {
                            field: 'actions',
                            title: '操作',
                            width: '150px',
                            template: function(item){
                                var tem = [];
                                if(item.level == 0){
//                                    tem.push('<button class="layui-btn layui-btn-danger layui-btn-xs" lay-filter="editxm">编辑</button>');
//                                    tem.push('<button class="layui-btn layui-btn-normal layui-btn-xs add-child add-addzxmchild" lay-filter="addzxm">添加子项目</button>');
                                }
                                if(item.level == 1){
//                                    tem.push('<button class="layui-btn layui-btn-danger layui-btn-xs" lay-filter="editzxm">编辑</button>');
                                    tem.push('<button class="layui-btn layui-btn-normal layui-btn-xs add-child" lay-filter="addcam">添加计划</button>');
                                }
                                if(item.level == 2 && item.hand ==1){
                                    tem.push('<button class="layui-btn layui-btn-danger layui-btn-xs" lay-filter="editcam">编辑</button>');
                                }
//                                tem.push('<a lay-filter="edit">删除</a>');
                                return tem.join(' <font>|</font> ')
                            }
                        },
                    ]
                });
            }
        });
    }





    treetable.on('treetable(addcam)',function(data){
        var field = data.item;

        layer.open({
            type: 2
            ,title: '添加计划'
            ,content: '/sem/mans.xm/addnewcam?id='+field.tid
            ,maxmin: true
            ,area: ['900px','600px']
            ,btn: ['确定', '取消']
            ,yes: function(index, layero){

                var iframeWindow = window['layui-layer-iframe'+ index]
                        ,submitID = 'LAY-addnew-front-submit'
                        ,submit = layero.find('iframe').contents().find('#'+ submitID);

                //监听提交
                iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                    var field = data.field; //获取提交的字段

                    //提交 Ajax 成功后，静态更新表格中的数据
                    //$.ajax({});
                    $.ajax({
                        url: '/sem/mans.xm/addnewcampost'
                        ,type:'POST'
                        ,data: data.field
                        ,success: function(res){
                            if(res.code==0){
                                var fieldsham = $("#LAY-front-search-sham").serialize();
                                filltable(fieldsham);
                                layer.close(index);
                            }else{
                                layer.msg(res.msg);
                            }
                        }
                    });
                });

                submit.trigger('click');
            }
        });

    })


    treetable.on('treetable(editcam)',function(data){

        var field = data.item;

        layer.open({
            type: 2
            ,title: '编辑计划'
            ,content: '/sem/mans.xm/editcam?id='+field.tid
            ,area: ['900px','600px']
            ,btn: ['确定', '取消']
            ,yes: function(index, layero){

                var iframeWindow = window['layui-layer-iframe'+ index]
                        ,submitID = 'LAY-edit-front-submit'
                        ,submit = layero.find('iframe').contents().find('#'+ submitID);

                //监听提交
                iframeWindow.layui.form.on('submit('+ submitID +')', function(data){
                    var field = data.field; //获取提交的字段
                    $.ajax({
                        url: '/sem/mans.xm/editcampost'
                        ,type:'POST'
                        ,data: field
                        ,success: function(res){
                            if(res.code==0){
                                var fieldsham = $("#LAY-front-search-sham").serialize();
                                filltable(fieldsham);
                                layer.close(index); //关闭弹层
                            }
                        }
                    });

                });
                submit.trigger('click');

            }
            ,success: function(layero, index){
            }
        })

    })


    o('.up-all').click(function(){
        treetable.all('up');
    })

    o('.down-all').click(function(){
        treetable.all('down');
    })

    o('.get-checked').click(function(){
        console.dir(treetable.all('checked'));
    })

    form.on('switch(status)',function(data){
        layer.msg('监听状态操作');
        console.dir(data);
    })
})
</script>
</body>
</html>
