<div class="ad-box3" ad106>
    <div class="top line2">
        <h3 class="fl color2"><span class="fl"><img src="/static/lz/index/images/canyin-title.png" alt="" /></span>服装-鞋帽-专区</h3>
        <p class="fr"><a href="javascript:;">更多 >></a></p>
    </div>
    <div class="bottom">
        <div class="product-content">{:fad(10601)}</div>
        <div class="product-content">{:fad(10602)}</div>
        <div class="product-content">{:fad(10603)}</div>
        <div class="product-content">{:fad(10604)}</div>
        <div class="product-content">{:fad(10605)}</div>
        <div class="product-content">{:fad(10606)}</div>
        <div class="product-content">{:fad(10607)}</div>
        <div class="product-content">{:fad(10608)}</div>

        <div class="product-content">{:fad(10611)}</div>
        <div class="product-content">{:fad(10612)}</div>
        <div class="product-content">{:fad(10613)}</div>
        <div class="product-content">{:fad(10614)}</div>
        <div class="product-content">{:fad(10615)}</div>
        <div class="product-content">{:fad(10616)}</div>
        <div class="product-content">{:fad(10617)}</div>
        <div class="product-content">{:fad(10618)}</div>

        <div class="product-content">{:fad(10621)}</div>
        <div class="product-content">{:fad(10622)}</div>
        <div class="product-content">{:fad(10623)}</div>
        <div class="product-content">{:fad(10624)}</div>
        <div class="product-content">{:fad(10625)}</div>
        <div class="product-content">{:fad(10626)}</div>
        <div class="product-content">{:fad(10627)}</div>
        <div class="product-content">{:fad(10628)}</div>

    </div>
</div>
