<div class="ad-box2" ad102>
<div class="fl left">
    <h3><span class="fl"><img src="/static/lz/index/images/vip-ttle.png" alt="" /></span>精品推荐</h3>
    <div class="jptj-box">
        <div class="jptj-boxcontetn fl">
            <a href="javascript:;">
                <dl>
                    <dt><img src="/static/lz/index/images/vp-img01.png"/></dt>
                    <dd>环保自热地板 </dd>
                </dl>
            </a>
        </div>
        <div class="jptj-boxcontetn fl">
            <a href="javascript:;">
                <dl>
                    <dt><img src="/static/lz/index/images/vp-img02.png"/></dt>
                    <dd>环保自热地板 </dd>
                </dl>
            </a>
        </div>
        <div class="jptj-boxcontetn fl">
            <a href="javascript:;">
                <dl>
                    <dt><img src="/static/lz/index/images/vp-img03.png"/></dt>
                    <dd>环保自热地板 </dd>
                </dl>
            </a>
        </div>
        <div class="jptj-boxcontetn fl">
            <a href="javascript:;">
                <dl>
                    <dt><img src="/static/lz/index/images/vp-img04.png"/></dt>
                    <dd>环保自热地板 </dd>
                </dl>
            </a>
        </div>
        <div class="jptj-boxcontetn fl">
            <a href="javascript:;">
                <dl>
                    <dt><img src="/static/lz/index/images/vp-img05.png"/></dt>
                    <dd>环保自热地板 </dd>
                </dl>
            </a>
        </div>
        <div class="jptj-boxcontetn fl">
            <a href="javascript:;">
                <dl>
                    <dt><img src="/static/lz/index/images/vp-img06.png"/></dt>
                    <dd>环保自热地板 </dd>
                </dl>
            </a>
        </div>
        <div class="jptj-boxcontetn fl">
            <a href="javascript:;">
                <dl>
                    <dt><img src="/static/lz/index/images/vp-img07.png"/></dt>
                    <dd>环保自热地板 </dd>
                </dl>
            </a>
        </div>
        <div class="jptj-boxcontetn fl">
            <a href="javascript:;">
                <dl>
                    <dt><img src="/static/lz/index/images/vp-img07.png"/></dt>
                    <dd>环保自热地板 </dd>
                </dl>
            </a>
        </div>
    </div>
</div>
<div class="fl right">
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">一店做遍全城洗衣生意</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">一店做遍全城洗衣生意</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">一店做遍全城洗衣生意</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">一店做遍全城洗衣生意</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
    </ul>
</div>
</div>
