<div class="ad-box1" ad103>
    <ul>
        <li class="fl"><a href="javascript:;"><img src="/static/lz/index/images/adimg01.png"/></a></li>
        <li class="fl"><a href="javascript:;"><img src="/static/lz/index/images/adimg02.png"/></a></li>
        <li class="fl"><a href="javascript:;"><img src="/static/lz/index/images/adimg03.png"/></a></li>
        <li class="fl"><a href="javascript:;"><img src="/static/lz/index/images/adimg04.png"/></a></li>
        <li class="fl"><a href="javascript:;"><img src="/static/lz/index/images/adimg05.png"/></a></li>
        <li class="fl"><a href="javascript:;"><img src="/static/lz/index/images/adimg06.png"/></a></li>
        <li class="fl"><a href="javascript:;"><img src="/static/lz/index/images/adimg07.png"/></a></li>
        <li class="fl"><a href="javascript:;"><img src="/static/lz/index/images/adimg08.png"/></a></li>
    </ul>
</div>