<div class="ad-box2" ad104>
<div class="fl ranking">
    <h3><span class="fl"><img src="/static/lz/index/images/phb-title.png" alt="" /></span>排行榜</h3>
    <div class="ranking-list">
        <ul>
            <li><span class="fl tc title1">1</span>
                {:fad(10401)}
            </li>
            <li><span class="fl tc title1">2</span>
                {:fad(10402)}
            </li>
            <li><span class="fl tc title1">3</span>
                {:fad(10403)}
            </li>
            <li><span class="fl tc title2">4</span>
                {:fad(10404)}
            </li>
            <li><span class="fl tc title2">5</span>
                {:fad(10405)}
            </li>
            <li><span class="fl tc title2">6</span>
                {:fad(10406)}
            </li>
            <li><span class="fl tc title2">7</span>
                {:fad(10407)}
            </li>
            <li><span class="fl tc title2">8</span>
                {:fad(10408)}
            </li>
        </ul>
    </div>
</div>
<div class="fl right">
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                {:fad(10421)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10422)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10423)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10424)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10425)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10426)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10427)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10428)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10429)}
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                {:fad(10431)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10432)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10433)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10434)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10435)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10436)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10437)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10438)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10439)}
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                {:fad(10441)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10442)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10443)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10444)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10445)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10446)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10447)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10448)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10449)}
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                {:fad(10451)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10452)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10453)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10454)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10455)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10456)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10457)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10458)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10459)}
            </div>
        </li>
    </ul>
</div>
</div>
