<div class="ad-box2" ad102>
<div class="fl left">
    <h3><span class="fl"><img src="/static/lz/index/images/vip-ttle.png" alt="" /></span>精品推荐</h3>
    <div class="jptj-box">
        <div class="jptj-boxcontetn fl">
            {:fad(10201)}
        </div>
        <div class="jptj-boxcontetn fl">
            {:fad(10202)}
        </div>
        <div class="jptj-boxcontetn fl">
            {:fad(10203)}
        </div>
        <div class="jptj-boxcontetn fl">
            {:fad(10204)}
        </div>
        <div class="jptj-boxcontetn fl">
            {:fad(10205)}
        </div>
        <div class="jptj-boxcontetn fl">
            {:fad(10206)}
        </div>
        <div class="jptj-boxcontetn fl">
            {:fad(10207)}
        </div>
        <div class="jptj-boxcontetn fl">
            {:fad(10208)}
        </div>
    </div>
</div>
<div class="fl right">
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                {:fad(10221)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10222)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10223)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10224)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10225)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10226)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10227)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10228)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10229)}
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                {:fad(10231)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10232)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10233)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10234)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10235)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10236)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10237)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10238)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10239)}
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                {:fad(10241)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10242)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10243)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10244)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10245)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10246)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10247)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10248)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10249)}
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                {:fad(10251)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10252)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10253)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10254)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10255)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10256)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10257)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10258)}
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                {:fad(10259)}
            </div>
        </li>
    </ul>
</div>
</div>
