<div class="ad-box3" ad105>
    <div class="top line">
        <h3 class="fl color"><span class="fl"><img src="/static/lz/index/images/yf-title.png" alt="" /></span>服装-鞋帽-专区</h3>
        <p class="fr"><a href="javascript:;">更多 >></a></p>
    </div>
    <div class="bottom">
        <div class="product-content">
            {:fad(10501)}
        </div>
        <div class="product-content">
            {:fad(10502)}
        </div>
        <div class="product-content">
            {:fad(10503)}
        </div>
        <div class="product-content">
            {:fad(10504)}

        </div>
        <div class="product-content">
            {:fad(10505)}
        </div>
        <div class="product-content">
            {:fad(10506)}
        </div>
        <div class="product-content">
            {:fad(10507)}
        </div>
        <div class="product-content">
            {:fad(10508)}
        </div>
        <div class="product-content">
            {:fad(10511)}
        </div>
        <div class="product-content">
            {:fad(10512)}
        </div>
        <div class="product-content">
            {:fad(10513)}
        </div>
        <div class="product-content">
            {:fad(10514)}
        </div>
        <div class="product-content">
            {:fad(10515)}
        </div>
        <div class="product-content">
            {:fad(10516)}
        </div>
        <div class="product-content">
            {:fad(10517)}
        </div>
        <div class="product-content">
            {:fad(10518)}
        </div>
        <div class="product-content">
            {:fad(10521)}
        </div>
        <div class="product-content">
            {:fad(10522)}
        </div>
        <div class="product-content">
            {:fad(10523)}
        </div>
        <div class="product-content">
            {:fad(10524)}
        </div>
        <div class="product-content">
            {:fad(10525)}
        </div>
        <div class="product-content">
            {:fad(10526)}
        </div>
        <div class="product-content">
            {:fad(10527)}
        </div>
        <div class="product-content">
            {:fad(10528)}
        </div>

    </div>
</div>
