<div class="ad-box2" ad104>
<div class="fl ranking">
    <h3><span class="fl"><img src="/static/lz/index/images/phb-title.png" alt="" /></span>排行榜</h3>
    <div class="ranking-list">
        <ul>
            <li><span class="fl tc title1">1</span><a href="javascrpt:;">洗护服务 高效智高效智能</a></li>
            <li><span class="fl tc title1">2</span><a href="javascrpt:;">洗护服务 高效智高效智能</a></li>
            <li><span class="fl tc title1">3</span><a href="javascrpt:;">洗护服务 高效智高效智能</a></li>
            <li><span class="fl tc title2">4</span><a href="javascrpt:;">洗护服务 高效智高效智能</a></li>
            <li><span class="fl tc title2">5</span><a href="javascrpt:;">洗护服务 高效智高效智能</a></li>
            <li><span class="fl tc title2">6</span><a href="javascrpt:;">洗护服务 高效智高效智能</a></li>
            <li><span class="fl tc title2">7</span><a href="javascrpt:;">洗护服务 高效智高效智能</a></li>
            <li><span class="fl tc title2">8</span><a href="javascrpt:;">洗护服务 高效智高效智能</a></li>
        </ul>
    </div>
</div>
<div class="fl right">
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">一店做遍全城洗衣生意</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">一店做遍全城洗衣生意</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">一店做遍全城洗衣生意</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
    </ul>
    <ul class="fl">
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">一店做遍全城洗衣生意</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;" class="red-font">酸菜鱼米饭 外卖点餐火</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
        <li class="tc">
            <div class="xh-service">
                <a href="javascript:;">洗护服务 高效智能</a>
            </div>
        </li>
    </ul>
</div>
</div>
