<div class="ad-box3" ad108>
    <div class="top line4">
        <h3 class="fl color4"><span class="fl"><img src="/static/lz/index/images/meirong-title.png" alt="" /></span>服装-鞋帽-专区</h3>
        <p class="fr"><a href="javascript:;">更多 >></a></p>
    </div>
    <div class="bottom">

        <div class="product-content">{:fad(10801)}</div>
        <div class="product-content">{:fad(10802)}</div>
        <div class="product-content">{:fad(10803)}</div>
        <div class="product-content">{:fad(10804)}</div>
        <div class="product-content">{:fad(10805)}</div>
        <div class="product-content">{:fad(10806)}</div>
        <div class="product-content">{:fad(10807)}</div>
        <div class="product-content">{:fad(10808)}</div>

        <div class="product-content">{:fad(10811)}</div>
        <div class="product-content">{:fad(10812)}</div>
        <div class="product-content">{:fad(10813)}</div>
        <div class="product-content">{:fad(10814)}</div>
        <div class="product-content">{:fad(10815)}</div>
        <div class="product-content">{:fad(10816)}</div>
        <div class="product-content">{:fad(10817)}</div>
        <div class="product-content">{:fad(10818)}</div>

        <div class="product-content">{:fad(10821)}</div>
        <div class="product-content">{:fad(10822)}</div>
        <div class="product-content">{:fad(10823)}</div>
        <div class="product-content">{:fad(10824)}</div>
        <div class="product-content">{:fad(10825)}</div>
        <div class="product-content">{:fad(10826)}</div>
        <div class="product-content">{:fad(10827)}</div>
        <div class="product-content">{:fad(10828)}</div>
    </div>
</div>
