<div class="ad-box1" ad101>
    <ul>
        <li class="fl">{:fad(10101)}</li>
        <li class="fl">{:fad(10102)}</li>
        <li class="fl">{:fad(10103)}</li>
        <li class="fl">{:fad(10104)}</li>
        <li class="fl">{:fad(10105)}</li>
        <li class="fl">{:fad(10106)}</li>
        <li class="fl">{:fad(10107)}</li>
        <li class="fl">{:fad(10108)}</li>

        <li class="fl">{:fad(10109)}</li>
        <li class="fl">{:fad(10110)}</li>
        <li class="fl">{:fad(10111)}</li>
        <li class="fl">{:fad(10112)}</li>
        <li class="fl">{:fad(10113)}</li>
        <li class="fl">{:fad(10114)}</li>
        <li class="fl">{:fad(10115)}</li>
        <li class="fl">{:fad(10116)}</li>

        <!--<li class="fl"><a href="javascript:;"><img src="/static/lz/index/images/adimg02.png"/></a></li>-->
    </ul>
    <div class="brand-box">
        <div class="fl left"><span><img src="/static/lz/index/images/pptj-title.png" alt="" /></span>品牌上榜</div>
        <div class="fl right">
            <div class="brand-content">
                {:fad(10151)}
            </div>
            <div class="brand-content">
                {:fad(10152)}
            </div>
            <div class="brand-content">
                {:fad(10153)}
            </div>
            <div class="brand-content">
                {:fad(10154)}
            </div>
            <div class="brand-content">
                {:fad(10155)}
            </div>
            <div class="brand-content">
                {:fad(10156)}
            </div>
            <div class="brand-content">
                {:fad(10157)}
            </div>
            <div class="brand-content">
                {:fad(10158)}
            </div>
            <div class="brand-content">
                {:fad(10159)}
            </div>
            <div class="brand-content">
                {:fad(10160)}
            </div>

        </div>
    </div>
</div>
