<footer>
    <div class="top marginauto">
        <dl class="fl">
            <dt class="fl"><img src="/static/lz/index/images/footer-title.png"/></dt>
            <dd class="fl">广告投放：010-668957</dd>
        </dl>
        <dl class="fl">
            <dt class="fl"><img src="/static/lz/index/images/footer-title2.png"/></dt>
            <dd class="fl">广告投放：010-668957</dd>
        </dl>
    </div>
    <div class="bottom tc">
        <p>全球招商网：多打电话、多咨询、实地考察，可降低投资风险</p>
        <p>Copyright©2004-2018 JMW.COM.CN. All Rights Reserved 北京信息技术有限公司 版权所有</p>
    </div>
</footer>
