<header ad999>
    <div class="index-top">
        <div class="index-topbox marginauto">
            <div class="left fl">
                <ul>
                    <li class="fl tc"><span><img src="/static/lz/index/images/index-title.png" alt="" /></span>
                        <a href="#">首页 </a>
                    </li>
                    <li class="fl tc">
                        <a href="#">诚信榜 </a>
                    </li>
                    <li class="fl tc">
                        <a href="#">企业名录 </a>
                    </li>
                    <li class="fl tc">
                        <a href="#">企业排行 </a>
                    </li>
                    <li class="fl tc">
                        <a href="#">创业 </a>
                    </li>
                    <li class="fl tc">
                        <a href="#">代理 </a>
                    </li>
                    <li class="fl tc">
                        <a href="#">连锁 </a>
                    </li>
                    <li class="fl tc">
                        <a href="#">商机 </a>
                    </li>
                </ul>
            </div>
            <div class="right fr">
                <ul>
                    <li class="fl"><span><img src="/static/lz/index/images/login-title.png"/></span>
                        <a href="#">登录</a>
                    </li>
                    <li class="fl"><span><img src="/static/lz/index/images/zhuce-title.png"/></span>
                        <a href="#">免费注册</a>
                    </li>
                </ul>
            </div>
            </dvi>
        </div>
    </div>
    <div class="index-top2 marginauto">
        <div class="logo fl">LOGO</div>
        <div class="search fl">
            <div class="search-ipt">
                <input type="text" class="fl" placeholder="请输入你您要搜索的内容" />
                <img class="fl" src="/static/lz/index/images/search-title.png" alt="" />
            </div>
            <div class="search-hot">
                <span class="red-font fl">热门搜索：</span>
                <a class="fl" href="javascript">网上开店</a>
                <a class="fl" href="javascript:;">微信开店</a>
                <a class="fl" href="javascript:;">投资开店</a>
                <a class="fl" href="javascript:;">连锁开店</a>
            </div>
        </div>
        <div class="ad-img fr">
					<span>
                        {:fad(99901)}
					</span>
					<span>
                        <!--<li class="fl">{:fad(99902)}</li>-->
						<a href="javascript:;"><img src="/static/lz/index/images/top-tu2.png" alt="" /></a>
					</span>
        </div>
    </div>
    <nav>
        <ul class="marginauto">
            <li class="fl tc active"><a href="javascript:">首页</a></li>
            <li class="fl tc"><a href="javascript:;">餐饮美食</a></li>
            <li class="fl tc"><a href="javascript:;">酒水饮品</a></li>
            <li class="fl tc"><a href="javascript:;">服装鞋包</a></li>
            <li class="fl tc"><a href="javascript:;">家居建材</a></li>
            <li class="fl tc"><a href="javascript:;">环保机械 </a></li>
            <li class="fl tc"><a href="javascript:;">汽车服务</a></li>
            <li class="fl tc"><a href="javascript:;">美容养生</a></li>
        </ul>
    </nav>
</header>
