<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" type="text/css" href="/static/lz/index/css/public.css" />
<link rel="stylesheet" type="text/css" href="/static/lz/index/css/index.css" />

<body>

<!--head-->
{include file="fview/header" /}
<!--end head-->

<div class="ad-content marginauto">

<!--ad101-->
{include file="fview/ad101" /}

<!--ad102-->
{include file="fview/ad102" /}

<!--ad103-->
{include file="fview/ad103" /}

<!--ad104-->
{include file="fview/ad104" /}

<!--ad105-->
{include file="fview/ad105" /}

<!--ad106-->
{include file="fview/ad106" /}

<!--ad107-->
{include file="fview/ad107" /}

<!--ad108-->
{include file="fview/ad108" /}

    <!--link -->
    {include file="fview/link" /}
    <!--end link-->
</div>

<!--footer-->
{include file="fview/footer" /}
<!--end footer-->

</body>
</html>