<div class="ad-box3">
    <div class="top line5">
        <h3 class="fl color5"><span class="fl"><img src="/static/lz/index/images/yqlj-title.png" alt="" /></span>友情链接 </h3>
        <p class="fr"><a href="javascript:;">更多 >></a></p>
    </div>
    <div class="bottom">
        <ul>
            <li class="fl"><a href="javascript:;">加盟网址</a></li>
            <li class="fl"><a href="javascript:;"> 大全妈妈论坛</a></li>
            <li class="fl"><a href="javascript:;">网计算机培训机构</a></li>
            <li class="fl"><a href="javascript:;">招商加盟</a></li>
            <li class="fl"><a href="javascript:;">妈妈网</a></li>
            <li class="fl"><a href="javascript:;">招标网</a></li>
            <li class="fl"><a href="javascript:;">青岛天气前景</a></li>
            <li class="fl"><a href="javascript:;">加盟网中国</a></li>
            <li class="fl"><a href="javascript:;">丽人网</a></li>
            <li class="fl"><a href="javascript:;">全球品牌网</a></li>
            <li class="fl"><a href="javascript:;">会商宝看准网</a></li>
            <li class="fl"><a href="javascript:;">宠物狗</a></li>
            <li class="fl"><a href="javascript:;">全商网</a></li>
            <li class="fl"><a href="javascript:;">天气预报</a></li>
            <li class="fl"><a href="javascript:;">铁血军事</a></li>
            <li class="fl"><a href="javascript:;">中国连锁网</a></li>
            <li class="fl"><a href="javascript:;">童装加盟网</a></li>
            <li class="fl"><a href="javascript:;">中国时尚品牌网</a></li>
            <li class="fl"><a href="javascript:;">孔夫子</a></li>
            <li class="fl"><a href="javascript:;">网上买书</a></li>
            <li class="fl"><a href="javascript:;">找工作加盟</a></li>
            <li class="fl"><a href="javascript:;">法律咨询中</a></li>
        </ul>
    </div>
</div>
