


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>设置我的资料111</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <link rel="stylesheet" href="../../../layuiadmin/layui/css/layui.css" media="all">
    <link rel="stylesheet" href="../../../layuiadmin/style/admin.css" media="all">
    <link rel="stylesheet" href="/static/Sham.css" media="all">
</head>
<body>

<style>

    .layui-table img {
         max-width: none !important;
    }
    .layui-table td{
        padding: 3px;  !important;
    }

</style>

<div class="layui-fluid" id="LAY-component-grid-speed-dial">
    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-body">

                    <span class="layui-breadcrumb">
                      <a href="/ad/page/index">广告管理</a>
                      <a><cite>管理</cite></a>
                    </span>

                </div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">首页 ad101</div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space1">
        <div class="layui-col-xs12">
            <!-- 填充内容 -->
            <div class="layui-card">
                <div class="layui-card-body">
                    <h5>mbId : 3 图 [10101 - 10116]</h5>
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <td >{:ad(10101)}</td>
                            <td >{:ad(10102)}</td>
                            <td >{:ad(10103)}</td>
                            <td >{:ad(10104)}</td>
                            <td >{:ad(10105)}</td>
                            <td >{:ad(10106)}</td>
                            <td >{:ad(10107)}</td>
                            <td >{:ad(10108)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10109)}</td>
                            <td >{:ad(10110)}</td>
                            <td >{:ad(10111)}</td>
                            <td >{:ad(10112)}</td>
                            <td >{:ad(10113)}</td>
                            <td >{:ad(10114)}</td>
                            <td >{:ad(10115)}</td>
                            <td >{:ad(10116)}</td>
                        </tr>

                        </tbody>
                    </table>

                    <h5>mbId : 4 图文 [10151 - 10160]</h5>
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <td >{:ad(10151)}</td>
                            <td >{:ad(10152)}</td>
                            <td >{:ad(10153)}</td>
                            <td >{:ad(10154)}</td>
                            <td >{:ad(10155)}</td>
                            <td >{:ad(10156)}</td>
                            <td >{:ad(10157)}</td>
                            <td >{:ad(10158)}</td>
                            <td >{:ad(10159)}</td>
                            <td >{:ad(10160)}</td>
                        </tr>
                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>


    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">首页 ad102</div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space1">
        <div class="layui-col-xs3">
            <!-- 填充内容 -->
            <div class="layui-card">
                <div class="layui-card-body">
                    <h5>mbId : 5 图文113*36 [10201 - 10208]</h5>
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <td >{:ad(10201)}</td>
                            <td >{:ad(10202)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10203)}</td>
                            <td >{:ad(10204)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10205)}</td>
                            <td >{:ad(10206)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10207)}</td>
                            <td >{:ad(10208)}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-col-xs9">
            <div class="layui-row layui-col-space1">
                <div class="layui-col-xs3">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <h5>mbId : 2/5 文 [10221 - 10229]</h5>
                            <table class="layui-table">
                                <tbody>
                                <tr><td >{:ad(10221)}</td></tr>
                                <tr><td >{:ad(10222)}</td></tr>
                                <tr><td >{:ad(10223)}</td></tr>
                                <tr><td >{:ad(10224)}</td></tr>
                                <tr><td >{:ad(10225)}</td></tr>

                                <tr><td >{:ad(10226)}</td></tr>
                                <tr><td >{:ad(10227)}</td></tr>
                                <tr><td >{:ad(10228)}</td></tr>
                                <tr><td >{:ad(10229)}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <h5>mbId : 2/5 文 [10231 - 10239]</h5>
                            <table class="layui-table">
                                <tbody>
                                <tr><td >{:ad(10231)}</td></tr>
                                <tr><td >{:ad(10232)}</td></tr>
                                <tr><td >{:ad(10233)}</td></tr>
                                <tr><td >{:ad(10234)}</td></tr>
                                <tr><td >{:ad(10235)}</td></tr>

                                <tr><td >{:ad(10236)}</td></tr>
                                <tr><td >{:ad(10237)}</td></tr>
                                <tr><td >{:ad(10238)}</td></tr>
                                <tr><td >{:ad(10239)}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs3">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <h5>mbId : 2/5 文 [10241 - 10249]</h5>
                            <table class="layui-table">
                                <tbody>
                                <tr><td >{:ad(10241)}</td></tr>
                                <tr><td >{:ad(10242)}</td></tr>
                                <tr><td >{:ad(10243)}</td></tr>
                                <tr><td >{:ad(10244)}</td></tr>
                                <tr><td >{:ad(10245)}</td></tr>

                                <tr><td >{:ad(10246)}</td></tr>
                                <tr><td >{:ad(10247)}</td></tr>
                                <tr><td >{:ad(10248)}</td></tr>
                                <tr><td >{:ad(10249)}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs3">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <h5>mbId : 2/5 文 [10251 - 10259]</h5>
                            <table class="layui-table">
                                <tbody>
                                <tr><td >{:ad(10251)}</td></tr>
                                <tr><td >{:ad(10252)}</td></tr>
                                <tr><td >{:ad(10253)}</td></tr>
                                <tr><td >{:ad(10254)}</td></tr>
                                <tr><td >{:ad(10255)}</td></tr>

                                <tr><td >{:ad(10256)}</td></tr>
                                <tr><td >{:ad(10257)}</td></tr>
                                <tr><td >{:ad(10258)}</td></tr>
                                <tr><td >{:ad(10259)}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>


        </div>

    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">首页 ad103</div>
            </div>
        </div>
    </div>


    <div class="layui-row layui-col-space1">
        <div class="layui-col-xs12">
            <!-- 填充内容 -->
            <div class="layui-card">
                <div class="layui-card-body">
                    <h5>mbId : 3 图 [10301 - 10308]</h5>
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <td >{:ad(10301)}</td>
                            <td >{:ad(10302)}</td>
                            <td >{:ad(10303)}</td>
                            <td >{:ad(10304)}</td>
                            <td >{:ad(10305)}</td>
                            <td >{:ad(10306)}</td>
                            <td >{:ad(10307)}</td>
                            <td >{:ad(10308)}</td>
                        </tr>


                        </tbody>
                    </table>

                </div>
            </div>
        </div>

    </div>


    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">首页 ad104</div>
            </div>
        </div>
    </div>



    <div class="layui-row layui-col-space1">
        <div class="layui-col-xs3">
            <!-- 填充内容 -->
            <div class="layui-card">
                <div class="layui-card-body">
                    <h5>mbId : 5 图文113*36 [10401 - 10408]</h5>
                    <table class="layui-table">
                        <tbody>
                        <tr><td >{:ad(10401)}</td></tr>
                        <tr><td >{:ad(10402)}</td></tr>
                        <tr><td >{:ad(10403)}</td></tr>
                        <tr><td >{:ad(10404)}</td></tr>
                        <tr><td >{:ad(10405)}</td></tr>

                        <tr><td >{:ad(10406)}</td></tr>
                        <tr><td >{:ad(10407)}</td></tr>
                        <tr><td >{:ad(10408)}</td></tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="layui-col-xs9">
            <div class="layui-row layui-col-space1">
                <div class="layui-col-xs3">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <h5>mbId : 2/5 文 [10421 - 10429]</h5>
                            <table class="layui-table">
                                <tbody>
                                <tr><td >{:ad(10421)}</td></tr>
                                <tr><td >{:ad(10422)}</td></tr>
                                <tr><td >{:ad(10423)}</td></tr>
                                <tr><td >{:ad(10424)}</td></tr>
                                <tr><td >{:ad(10425)}</td></tr>

                                <tr><td >{:ad(10426)}</td></tr>
                                <tr><td >{:ad(10427)}</td></tr>
                                <tr><td >{:ad(10428)}</td></tr>
                                <tr><td >{:ad(10429)}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="layui-col-xs3">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <h5>mbId : 2/5 文 [10431 - 10439]</h5>
                            <table class="layui-table">
                                <tbody>
                                <tr><td >{:ad(10431)}</td></tr>
                                <tr><td >{:ad(10432)}</td></tr>
                                <tr><td >{:ad(10433)}</td></tr>
                                <tr><td >{:ad(10434)}</td></tr>
                                <tr><td >{:ad(10435)}</td></tr>

                                <tr><td >{:ad(10436)}</td></tr>
                                <tr><td >{:ad(10437)}</td></tr>
                                <tr><td >{:ad(10438)}</td></tr>
                                <tr><td >{:ad(10439)}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs3">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <h5>mbId : 2/5 文 [10441 - 10449]</h5>
                            <table class="layui-table">
                                <tbody>
                                <tr><td >{:ad(10441)}</td></tr>
                                <tr><td >{:ad(10442)}</td></tr>
                                <tr><td >{:ad(10443)}</td></tr>
                                <tr><td >{:ad(10444)}</td></tr>
                                <tr><td >{:ad(10445)}</td></tr>

                                <tr><td >{:ad(10446)}</td></tr>
                                <tr><td >{:ad(10447)}</td></tr>
                                <tr><td >{:ad(10448)}</td></tr>
                                <tr><td >{:ad(10449)}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>

                <div class="layui-col-xs3">
                    <div class="layui-card">
                        <div class="layui-card-body">
                            <h5>mbId : 2/5 文 [10451 - 10459]</h5>
                            <table class="layui-table">
                                <tbody>
                                <tr><td >{:ad(10451)}</td></tr>
                                <tr><td >{:ad(10452)}</td></tr>
                                <tr><td >{:ad(10453)}</td></tr>
                                <tr><td >{:ad(10454)}</td></tr>
                                <tr><td >{:ad(10455)}</td></tr>

                                <tr><td >{:ad(10456)}</td></tr>
                                <tr><td >{:ad(10457)}</td></tr>
                                <tr><td >{:ad(10458)}</td></tr>
                                <tr><td >{:ad(10459)}</td></tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>



            </div>


        </div>

    </div>













    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">首页 ad105</div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space1">
        <div class="layui-col-xs12">
            <!-- 填充内容 -->
            <div class="layui-card">
                <div class="layui-card-body">
                    <h5>mbId : 8 图 [10501/10511/10521]</h5>
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <td >{:ad(10501)}</td>
                            <td >{:ad(10502)}</td>
                            <td >{:ad(10503)}</td>
                            <td >{:ad(10504)}</td>
                            <td >{:ad(10505)}</td>
                            <td >{:ad(10506)}</td>
                            <td >{:ad(10507)}</td>
                            <td >{:ad(10508)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10511)}</td>
                            <td >{:ad(10512)}</td>
                            <td >{:ad(10513)}</td>
                            <td >{:ad(10514)}</td>
                            <td >{:ad(10515)}</td>
                            <td >{:ad(10516)}</td>
                            <td >{:ad(10517)}</td>
                            <td >{:ad(10518)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10521)}</td>
                            <td >{:ad(10522)}</td>
                            <td >{:ad(10523)}</td>
                            <td >{:ad(10524)}</td>
                            <td >{:ad(10525)}</td>
                            <td >{:ad(10526)}</td>
                            <td >{:ad(10527)}</td>
                            <td >{:ad(10528)}</td>
                        </tr>

                        </tbody>
                    </table>



                </div>
            </div>
        </div>

    </div>


    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">首页 ad106</div>
            </div>
        </div>
    </div>

    <div class="layui-row layui-col-space1">
        <div class="layui-col-xs12">
            <!-- 填充内容 -->
            <div class="layui-card">
                <div class="layui-card-body">
                    <h5>mbId : 8 图 [10601/10611/10621]</h5>
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <td >{:ad(10601)}</td>
                            <td >{:ad(10602)}</td>
                            <td >{:ad(10603)}</td>
                            <td >{:ad(10604)}</td>
                            <td >{:ad(10605)}</td>
                            <td >{:ad(10606)}</td>
                            <td >{:ad(10607)}</td>
                            <td >{:ad(10608)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10611)}</td>
                            <td >{:ad(10612)}</td>
                            <td >{:ad(10613)}</td>
                            <td >{:ad(10614)}</td>
                            <td >{:ad(10615)}</td>
                            <td >{:ad(10616)}</td>
                            <td >{:ad(10617)}</td>
                            <td >{:ad(10618)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10621)}</td>
                            <td >{:ad(10622)}</td>
                            <td >{:ad(10623)}</td>
                            <td >{:ad(10624)}</td>
                            <td >{:ad(10625)}</td>
                            <td >{:ad(10626)}</td>
                            <td >{:ad(10627)}</td>
                            <td >{:ad(10628)}</td>
                        </tr>

                        </tbody>
                    </table>



                </div>
            </div>
        </div>

    </div>


    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">首页 ad107</div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space1">
        <div class="layui-col-xs12">
            <!-- 填充内容 -->
            <div class="layui-card">
                <div class="layui-card-body">
                    <h5>mbId : 8 图 [10701/10711/10721]</h5>
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <td >{:ad(10701)}</td>
                            <td >{:ad(10702)}</td>
                            <td >{:ad(10703)}</td>
                            <td >{:ad(10704)}</td>
                            <td >{:ad(10705)}</td>
                            <td >{:ad(10706)}</td>
                            <td >{:ad(10707)}</td>
                            <td >{:ad(10708)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10711)}</td>
                            <td >{:ad(10712)}</td>
                            <td >{:ad(10713)}</td>
                            <td >{:ad(10714)}</td>
                            <td >{:ad(10715)}</td>
                            <td >{:ad(10716)}</td>
                            <td >{:ad(10717)}</td>
                            <td >{:ad(10718)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10721)}</td>
                            <td >{:ad(10722)}</td>
                            <td >{:ad(10723)}</td>
                            <td >{:ad(10724)}</td>
                            <td >{:ad(10725)}</td>
                            <td >{:ad(10726)}</td>
                            <td >{:ad(10727)}</td>
                            <td >{:ad(10728)}</td>
                        </tr>

                        </tbody>
                    </table>



                </div>
            </div>
        </div>

    </div>

    <div class="layui-row layui-col-space15">
        <div class="layui-col-md12">
            <div class="layui-card">
                <div class="layui-card-header">首页 ad108</div>
            </div>
        </div>
    </div>
    <div class="layui-row layui-col-space1">
        <div class="layui-col-xs12">
            <!-- 填充内容 -->
            <div class="layui-card">
                <div class="layui-card-body">
                    <h5>mbId : 8 图 [10801/10811/10821]</h5>
                    <table class="layui-table">
                        <tbody>
                        <tr>
                            <td >{:ad(10801)}</td>
                            <td >{:ad(10802)}</td>
                            <td >{:ad(10803)}</td>
                            <td >{:ad(10804)}</td>
                            <td >{:ad(10805)}</td>
                            <td >{:ad(10806)}</td>
                            <td >{:ad(10807)}</td>
                            <td >{:ad(10808)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10811)}</td>
                            <td >{:ad(10812)}</td>
                            <td >{:ad(10813)}</td>
                            <td >{:ad(10814)}</td>
                            <td >{:ad(10815)}</td>
                            <td >{:ad(10816)}</td>
                            <td >{:ad(10817)}</td>
                            <td >{:ad(10818)}</td>
                        </tr>
                        <tr>
                            <td >{:ad(10821)}</td>
                            <td >{:ad(10822)}</td>
                            <td >{:ad(10823)}</td>
                            <td >{:ad(10824)}</td>
                            <td >{:ad(10825)}</td>
                            <td >{:ad(10826)}</td>
                            <td >{:ad(10827)}</td>
                            <td >{:ad(10828)}</td>
                        </tr>

                        </tbody>
                    </table>



                </div>
            </div>
        </div>

    </div>


</div>



<script src="../../../layuiadmin/layui/layui.js"></script>
<script>
        layui.config({
            base: '../../../layuiadmin/' //静态资源所在路径
        }).extend({
            index: 'lib/index' //主入口模块
//        }).use(['index']);
        }).use(['index', 'adm'], function(){


//            var $ = layui.$
//                    ,form = layui.form
//                    ,admin = layui.admin
//                    ,table = layui.table;




        });



</script>
</body>
</html>